In [33]:
import pandas as pd
import numpy as np

In [34]:
df=pd.read_csv('dataset_Facebook.csv',sep=';')

In [35]:
df

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [36]:
df.shape

(500, 19)

In [37]:
df.describe()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
count,500.000000,500.000000,500.000000,500.000000,500.000000,499.000000,500.00000,5.000000e+02,500.000000,500.000000,500.000000,5.000000e+02,500.000000,500.000000,500.00000,499.000000,496.000000,500.000000
mean,123194.176000,1.880000,7.038000,4.150000,7.840000,0.278557,13903.36000,2.958595e+04,920.344000,798.772000,1415.130000,1.676638e+04,6585.488000,609.986000,7.48200,177.945892,27.266129,212.120000
std,16272.813214,0.852675,3.307936,2.030701,4.368589,0.448739,22740.78789,7.680325e+04,985.016636,882.505013,2000.594118,5.979102e+04,7682.009405,612.725618,21.18091,323.398742,42.613292,380.233118
min,81370.000000,1.000000,1.000000,1.000000,1.000000,0.000000,238.00000,5.700000e+02,9.000000,9.000000,9.000000,5.670000e+02,236.000000,9.000000,0.00000,0.000000,0.000000,0.000000
25%,112676.000000,1.000000,4.000000,2.000000,3.000000,0.000000,3315.00000,5.694750e+03,393.750000,332.500000,509.250000,3.969750e+03,2181.500000,291.000000,1.00000,56.500000,10.000000,71.000000
50%,129600.000000,2.000000,7.000000,4.000000,9.000000,0.000000,5281.00000,9.051000e+03,625.500000,551.500000,851.000000,6.255500e+03,3417.000000,412.000000,3.00000,101.000000,19.000000,123.500000
75%,136393.000000,3.000000,10.000000,6.000000,11.000000,1.000000,13168.00000,2.208550e+04,1062.000000,955.500000,1463.000000,1.486050e+04,7989.000000,656.250000,7.00000,187.500000,32.250000,228.500000
max,139441.000000,3.000000,12.000000,7.000000,23.000000,1.000000,180480.00000,1.110282e+06,11452.000000,11328.000000,19779.000000,1.107833e+06,51456.000000,4376.000000,372.00000,5172.000000,790.000000,6334.000000

In [38]:
#Creating Data Subsets
df1=df[['Category','Type','Lifetime Post Total Reach','Total Interactions']].loc[1:50]
df1

    Category    Type  Lifetime Post Total Reach  Total Interactions
1          2  Status                      10460                 164
2          3   Photo                       2413                  80
3          2   Photo                      50128                1777
4          2   Photo                       7244                 393
5          2  Status                      10472                 186
6          3   Photo                      11692                 279
7          3   Photo                      13720                 339
8          2  Status                      11844                 192
9          3   Photo                       4694                 142
10         2  Status                      21744                 252
11         2   Photo                       3112                 106
12         2   Photo                       2847                 104
13         2   Photo                       2549                 152
14         2   Photo                      22784                 599
15         2  Status                      10060                 108
16         3   Photo                       1722                  54
17         1   Photo                      53264                 713
18         3  Status                       3930                  75
19         3   Photo                       1591                  42
20         2   Photo                       2848                  81
21         1   Photo                       1384                   0
22         1    Link                       3454                  18
23         3   Photo                       2723                  96
24         2  Status                       8488                 121
25         2  Status                       8284                 106
26         2  Status                      19552                 494
27         3   Photo                       2478                 117
28         2   Photo                       9560                 622
29         1   Video                      36208                 174
30         2   Photo                       4940                 162
31         2   Photo                       1683                  39
32         3   Photo                       5280                 204
33         3   Photo                       3002                 125
34         1   Photo                       3766                  75
35         2   Photo                       4512                 199
36         3   Photo                       2690                 113
37         1   Photo                      19800                 100
38         2  Status                      17576                 269
39         1   Photo                       3290                  59
40         2  Status                      13280                 262
41         1    Link                      18480                 211
42         1   Photo                       7268                  36
43         1    Link                       2645                  46
44         1   Photo                       4284                  58
45         1    Link                       7968                  71
46         1  Status                      16576                 214
47         1    Link                       1925                  32
48         1   Photo                       3786                  92
49         1    Link                       1536                  14
50         2   Photo                       1728                  58

In [39]:
df2=df[['Post Month','Post Weekday','Post Hour','Lifetime Post Consumers']].loc[50:100]
df2

     Post Month  Post Weekday  Post Hour  Lifetime Post Consumers
50           11             1          9                       65
51           11             1          3                      467
52           11             7          9                      181
53           11             7          3                      182
54           11             6         10                      213
55           11             6          2                      411
56           11             5         11                      204
57           11             5          3                      131
58           11             4         10                      173
59           11             4          3                      304
60           11             3         11                      335
61           11             3          2                      513
62           11             2         10                      654
63           11             2          3                      335
64           11             1         10                      182
65           11             1          3                      298
66           11             7         11                      156
67           11             7          3                      995
68           11             6         11                      168
69           11             6          3                      288
70           11             5         10                      460
71           11             5          3                     1735
72           11             4         11                      847
73           11             4          2                      418
74           11             3         11                      458
75           11             3          2                      808
76           11             3          2                       17
77           11             1         10                      374
78           11             1          3                      167
79           11             7         12                      640
80           11             7          3                     2235
81           11             6         10                      361
82           11             6          3                      306
83           11             5         10                      243
84           11             5          2                      108
85           11             4          9                      280
86           11             4          3                      228
87           11             3         10                      319
88           11             3          3                      189
89           11             2         11                      283
90           11             2          3                      564
91           11             1          9                      220
92           11             1          3                      352
93           11             7          9                      216
94           11             7          4                      213
95           10             6         10                      257
96           10             6          3                      287
97           10             5         11                      218
98           10             5          3                     1966
99           10             4         10                      539
100          10             4          9                       37

In [40]:
#Merging Dataset
df_merge=pd.concat([df1,df2])
df_merge

,Category,Type,Lifetime Post Total Reach,Total Interactions,Post Month,Post Weekday,Post Hour,Lifetime Post Consumers
1,2.0,Status,10460.0,164.0,NaN,NaN,NaN,NaN
2,3.0,Photo,2413.0,80.0,NaN,NaN,NaN,NaN
3,2.0,Photo,50128.0,1777.0,NaN,NaN,NaN,NaN
4,2.0,Photo,7244.0,393.0,NaN,NaN,NaN,NaN
5,2.0,Status,10472.0,186.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
96,NaN,NaN,NaN,NaN,10.0,6.0,3.0,287.0
97,NaN,NaN,NaN,NaN,10.0,5.0,11.0,218.0
98,NaN,NaN,NaN,NaN,10.0,5.0,3.0,1966.0
99,NaN,NaN,NaN,NaN,10.0,4.0,10.0,539.0
100,NaN,NaN,NaN,NaN,10.0,4.0,9.0,37.0

In [41]:
#Transposing Data
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
Page total likes,139441,139441,139441,139441,139441,139441,139441,139441,139441,139441,...,85979,85979,85979,85093,85093,85093,81370,81370,81370,81370
Type,Photo,Status,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,...,Photo,Photo,Link,Photo,Photo,Photo,Photo,Photo,Photo,Photo
Category,2,2,3,2,2,2,3,3,2,3,...,3,3,1,3,3,3,2,1,3,2
Post Month,12,12,12,12,12,12,12,12,12,12,...,1,1,1,1,1,1,1,1,1,1
Post Weekday,4,3,3,2,2,1,1,7,7,6,...,6,6,5,1,7,7,5,5,4,4
Post Hour,3,10,3,10,3,9,3,9,3,10,...,11,3,11,2,10,2,8,2,11,4
Paid,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
Lifetime Post Total Reach,2752,10460,2413,50128,7244,10472,11692,13720,11844,4694,...,5280,6184,45920,8412,5400,4684,3480,3778,4156,4188
Lifetime Post Total Impressions,5091,19057,4373,87991,13594,20849,19479,24137,22538,8668,...,8703,10228,5808,13960,9218,7536,6229,7216,7564,7292
Lifetime Engaged Users,178,1457,177,2211,671,1191,481,537,1530,280,...,951,956,753,1179,810,733,537,625,626,564
Lifetime Post Consumers,109,1361,113,790,410,1073,265,232,1407,183,...,911,901,655,1111,756,708,508,572,574,524
Lifetime Post Consumptions,159,1674,154,1119,580,1389,364,305,1692,250,...,1237,1140,763,1632,1003,985,687,795,832,743
Lifetime Post Impressions by people who have liked your Page,3078,11710,2812,61027,6228,16034,15432,19728,15220,4309,...,5757,6085,15766,8632,5654,4750,3961,4742,4534,3861
Lifetime Post reach by people who like your Page,1640,6112,1503,32048,3200,7852,9328,11056,7912,2324,...,3300,3502,10720,5348,3230,2876,2104,2388,2452,2200
Lifetime People who have liked your Page and engaged with your post,119,1108,132,1386,396,1016,379,422,1250,199,...,431,437,220,699,422,392,301,363,370,316
comment,4,5,0,58,19,1,3,0,0,3,...,1,1,0,17,10,5,0,4,7,0
like,79.0,130.0,66.0,1572.0,325.0,152.0,249.0,325.0,161.0,113.0,...,79.0,105.0,128.0,185.0,125.0,53.0,53.0,93.0,91.0,91.0
share,17.0,29.0,14.0,147.0,49.0,33.0,27.0,14.0,31.0,26.0,...,30.0,46.0,9.0,55.0,41.0,26.0,22.0,18.0,38.0,28.0
Total Interactions,100,164,80,1777,393,186,279,339,192,142,...,110,152,137,257,176,84,75,115,136,119

In [42]:
df1.transpose()

,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
Category,2,3,2,2,2,3,3,2,3,2,...,1,1,1,1,1,1,1,1,1,2
Type,Status,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,Status,...,Link,Photo,Link,Photo,Link,Status,Link,Photo,Link,Photo
Lifetime Post Total Reach,10460,2413,50128,7244,10472,11692,13720,11844,4694,21744,...,18480,7268,2645,4284,7968,16576,1925,3786,1536,1728
Total Interactions,164,80,1777,393,186,279,339,192,142,252,...,211,36,46,58,71,214,32,92,14,58

In [43]:
df2.transpose()

,50,51,52,53,54,55,56,57,58,59,...,91,92,93,94,95,96,97,98,99,100
Post Month,11,11,11,11,11,11,11,11,11,11,...,11,11,11,11,10,10,10,10,10,10
Post Weekday,1,1,7,7,6,6,5,5,4,4,...,1,1,7,7,6,6,5,5,4,4
Post Hour,9,3,9,3,10,2,11,3,10,3,...,9,3,9,4,10,3,11,3,10,9
Lifetime Post Consumers,65,467,181,182,213,411,204,131,173,304,...,220,352,216,213,257,287,218,1966,539,37

In [44]:
#Sorting data 
sort_val=df.sort_values(by='Category',ascending=False)
sort_val

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
108,136736,Photo,3,10,7,9,0.0,2426,4469,320,237,325,3120,1684,248,7,125.0,16.0,148
322,123047,Photo,3,6,2,5,1.0,3662,6476,560,522,677,4930,2660,319,2,67.0,14.0,83
331,119198,Photo,3,5,3,5,0.0,4344,8025,692,626,872,4911,2528,367,1,107.0,26.0,134
330,120050,Photo,3,5,3,12,0.0,21248,34095,1049,918,1438,11280,6664,536,20,199.0,32.0,251
329,120050,Photo,3,5,4,4,1.0,4032,7278,684,607,848,4935,2644,432,7,139.0,34.0,180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,136736,Photo,1,10,6,8,0.0,1261,2158,37,37,49,1911,1077,33,0,NaN,NaN,0
110,136736,Photo,1,10,6,10,0.0,1673,3655,338,324,1619,2598,1469,268,2,28.0,4.0,34
339,117764,Photo,1,5,4,10,0.0,18056,32576,1062,875,1389,26514,14728,701,25,307.0,58.0,390
105,137020,Photo,1,10,2,4,0.0,70144,111745,3216,2628,4782,43671,20608,1542,42,955.0,139.0,1136
250,129600,Photo,1,7,7,6,1.0,5848,9068,622,570,795,6651,4212,383,4,71.0,10.0,85

In [45]:
#Shape 
df.shape

(500, 19)

In [46]:
#Reshaping 
pivot_table=pd.pivot_table(df,index=['Type', 'Category'], values='comment')
pivot_table

                   comment
Type   Category
Link   1          2.900000
       2          2.000000
       3          2.000000
Photo  1          5.897297
       2         11.692308
       3          6.913333
Status 1          4.333333
       2          9.921053
       3          2.750000
Video  1         12.285714

In [47]:
pivot_table.shape

(10, 1)